@import '~@angular/material/theming';

@mixin navestock-font-theme {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
  
    navestock-font{
        a:link{
            color: mat-color($primary, default-contrast);
        }
    }
}
