## Compiled JavaScript files
**/*.js
**/*.js.map

# Typescript v1 declaration files
typings/

node_modules/

# environment variables
src/environments/environment.prod.ts
src/environments/environment.ts
src/environments/navestock-website-04b2617e4f2a.ts
