    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
					<img class='splash_img' src='./app/img/Splashv2.jpg'>
          <p></p>
					<p class='left_panel_heading'>Club Contact Information</p>
					
					<p class='left_panel_text'><b>
					President<br>
					Michael Parrish</b></p>
					
					<p class='left_panel_text'><b>
					Chairman<br>
					Ray Balcombe</b><br>
					Tel: 01277 899141<br>
					Email: ray@technicaldramadesign.co.uk
					</p>
					
					<p class='left_panel_text'><b>
					Secretary<br>
					Kevin Jordan</b><br>
					Tel: 07704 139359<br>
					Email: kevin.jordan1@btinternet.com
					</p>

          <p class='left_panel_text'><b>
          League Secretary<br>
          Vic Simmons</b><br>					
		      Tel: 07802 905539<br>
          Email: victorsimmons@btinternet.com
          </p>

					<p class='left_panel_text'><b>
					Treasurer<br>
					Ian Scott</b><br>
					Tel: 07885 601361<br>
					Email: ian@idscott.com
					</p>				

					<p class='left_panel_text'><b>
					Fixture Secretary<br>
					Malcolm Goddard</b><br>
					Tel: 07779 977475<br>
					Email: malcolmgoddard@hotmail.com
					</p>
					
					<p class='left_panel_text'><b>
					Website<br>
					Lefras Coetzee</b><br>
					Tel: 07415 950733<br>
					Email: lefras.coetzee@gmail.com
					</p>
					
					<p class='left_panel_text'><b>
					Groundsman<br>
					Geoff Wright</b><br>
					Tel: 07850 870230<br>
					Email: geoffwright@farming.co.uk
					</p>
					
					<p class='left_panel_text'><b>
           Saturday 1st XI<br>
           Matt Simmons</b><br>
           Tel: 07702 191234<br>
           Email: simmons.matthew91@gmail.com	 
					</p>
					
					<p class='left_panel_text'><b>
					Saturday 2nd XI<br>
					Vic Simmons</b><br>					
		      Tel: 07802 905539<br>
          Email: victorsimmons@btinternet.com
					</p>
					
					<p class='left_panel_text'><b>
					Sunday XI<br>
					Phil Sergeant</b><br>
					Tel: 07515 856231<br>
					Email: phil.sergeant.88@googlemail.com
					</p>
					
					<p class='left_panel_text'><b>
					Youth<br>
          Simon Moule</b><br>				
		      Tel: 07941 495132<br>
          Email: simonmoule@blueyonder.co.uk
					</p>

					<p class='left_panel_text'><b>
					Welfare<br>
					Graham Cobb</b><br>
					Tel: 07813 044614<br>
					Email: grahamcobb31@googlemail.com
					</p>        
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12" >
				<a [routerLink]="['/playerswanted']"><img class='players_wanted_img' src='./app/img/PlayersWantedRedv1.png'></a>
      </div>
    </div>