<div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
					<img class='splash_img' src='./app/img/Splashv2.jpg'>
          <p></p>
					<p class='left_panel_heading'>EARLY HISTORY OF CRICKET AT NAVESTOCK</p>
					<p class='left_panel_text'>Navestock has a rich history dating back almost 250 years.</p> 
					<p class='left_panel_text'>One of the most famous Essex grounds. Navestock together with Hornchurch and Stock served as the usual grounds 
					for matches between ESSEX and KENT. Records show three instances of play there before 1784.</p> 
					<p class='left_panel_text'>The earliest of these dates is the rumour-type report dated 23rd. September 1768. 
					It is worth reproducing in full, if only because of its charming language.</p>
					<p class='left_panel_text'><i>“We hear that there will be a match of Cricket played on Saturday next, at the Green Man On Navestock Common, 
					between the Gentlemen of Epping and the Gentlemen of Brentwood. The wickets will be pitched at 11 o'clock and the match to be played out.”</i></p>
					<p class='left_panel_text'>Six years later (1774) a loosely worded advertisement in the Chelmsford Chronicle again refers to famous ground at Navestock. 
					Here it is in full:</p>
					<p class='left_panel_text'><i>“This is to give notice, that on Monday next, the 20th. Instant, there will be played a match at cricket between 
					two of the best elevens in Essex. For a considerable sum of money, at The Green Man at Navestock Common. The wickets will be pitched at Ten o'clock.”</i></p>
					<p class='left_panel_text'>Further report show on August 26th.1783, a match was played at Mrs Barkers at the Green Man at Navestock Between Hornchurch and 
					Ingatestone, for a Guinea a man.</p>
					<p class='left_panel_text'>August 1793 notice is given in the Chelmsford Chronicle of a giant game arranged between fifty from Essex and Hertfordshire, 
					and the All England Eleven.</p>
					<p class='left_panel_text'>Notice of the match to be held at Navestock on the 19th Of August 1793, was given, in two separate issues of 
					The CHELMSFORD CHRONICAL, but no result ever appeared. The notice read as follows:</p>
					<p class='left_panel_text'><i>“ELEVEN ALL ENGLAND against FIFTY ESSEX and HERTFORDSHIRE</i></p>
					<p class='left_panel_text'><i>For £500 to be played on Monday the 19th. Instant, at the Green Man, Navestock. Wickets to be pitched at 10 o'clock.</i></p>
					<p class='left_panel_text'>Later it was reported one more that:</p>
					<p class='left_panel_text'><i>“As it may afford pleasure to the amateurs of cricket and to many of our readers to know The first eleven players in the world, 
					the following are judged to be them: -T. Walker H. Walker Beldham Ring Small jun. Boxall Freemantle Hammond Wells Purchase Harris.</i></p>
					<p class='left_panel_text'><i>They are to play 50 cricketers taken from the Counties of Essex and Hertfordshire and 6 to 4 are betted in their favour.”</i></p>
					<p class='left_panel_text'>A venerable cricketing site indeed is the Green Man ground at Navestock. Perhaps one of the oldest in England with a continuous history of matches.</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
          <a [routerLink]="['/playerswanted']"><img class='players_wanted_img' src='./app/img/PlayersWantedRedv1.png'></a>
      </div>
</div>      