//FIXMESCSS mixin ground-theme
agm-map{
    height: 400px;
  }

  ul {
    list-style-type: none;
  }

  .waze{
    vertical-align: top;
    width: 100px;
  }

  .gmaps{
    vertical-align: top;
    width: 60px;
  }

  .leftcol{
    width: 50%;
  }
  .rightcol{
    width: 50%;
  }
  .addresstable{
    width: 80%;
  }