<div class='right_panel_widgets green'>
	<div class='panel_widget_menu green'>
		<p class='panel_widget_menu_item_select green'>Fixtures</p>
	</div>
    <div *ngFor="let t of matchWidgetData">
    <p class='panel_widget_heading green'>{{t.teamName}}</p>
    <ul class='widget_ul'>
        <li *ngFor="let f of t.matchList | async">
            <a [routerLink]="['/matchdetails', f.id]" >
                <p class='game_l1'>{{f.opposition_club_name}}</p>
                <p class='game_l2'>{{f.match_date.toDate() | date:'d MMM yy'}} {{f.match_time}}</p>
            </a>
        </li>
    </ul>
    </div>
</div>