 .navbar{
   background-color: transparent;
   border-color: transparent;
   height: 10px;
   min-height:32px !important;
   position: relative;
   z-index: 10000;
    }

.navbar-nav > li > a {
	margin-right:0.5px !important;
	padding-top:5px !important;
	padding-bottom:5px !important;
	border-left-style: solid;
    border-width: 1px;
    border-color: #DEDED5;
	background-color: white;
	}


.navbar-nav > li > a:hover {
	background: linear-gradient(#85A366, #FFFFFF);
}

navbar-nav > li > a:active{
	border-bottom-style: solid;
    border-width: 3px;
    border-color: #85A366;
}
