<div class="row">
  <img class='splash_img' src='./app/img/NCCCrest.png'>
  <p></p>
  <p class='left_panel_heading'>Navestock Cricket Club</p>
  <p class='left_panel_heading'>Veterans 7-a-side Tournament</p>
  <p class="left_panel_heading2">Tuesday 19th June 2018</p>

  
  <p class="history_text">A fantastic afternoon of cricket yesterday afternoon the saw the Navestock Saturday side beat a South Weald side in the Over 50's 7-a-side tournament!</p>
  <br>
  <img class='naveOldPic_img' src='./app/img/veterans7aside.jpg'>
  <br>

  
  <app-img-viewer photosToDisplay="veterans7aside" identifier='all'></app-img-viewer>
  <app-img-upload photosToDisplay="veterans7aside" identifier='all'></app-img-upload>
  <br>
