//FIXMESCSS mixin bowling-theme
.mat-column-bowlingRuns {
    flex: 0 0 60px;
    text-align: right;
  }
 
  .mat-column-bowlingOvers {
    flex: 0 0 60px;
    text-align: right;
  }

  .mat-column-bowlingMaidens {
    flex: 0 0 60px;
    text-align: right;
  }

  .mat-column-bowlingWickets {
    flex: 0 0 60px;
    text-align: right;
  }
  