@import '~@angular/material/theming';
// Import library functions for theme creation.
@import '~@angular/material/theming';

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin match-widget-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  ncc-app-matchwidget {
    .right_panel_widgets {
      background: mat-color($primary, 0);
      border-radius: 10px;
      width: 95%;
      margin-top: 5px;
      border-style: solid;
      border-width: 2px;
      display: inline-block;
    }
    /** */
    .right_panel_widgets.green {
      border-color: mat-color($primary, 600);
    }
    /** */
    .panel_widget_menu {
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
    /** */
    .panel_widget_menu.green {
      background: linear-gradient(
        mat-color($primary, 600),
        mat-color($primary, 500),
        mat-color($primary, 400),
        mat-color($primary, 300),
        mat-color($primary, 200)
      );
      color: mat-color($primary, '600-contrast');
    }

    h2 {
      color: mat-color($primary, '600-contrast');
	  text-align: left;
	  padding: 0 0 0 20px;
    }

    .mat-card-header {
      background-color: mat-color($accent, 300);
      border-radius: 5px 5px 0px 0px;
      color: mat-color($accent, '300-contrast');
      padding-top: 5px;
    }

    .mat-card-header .mat-card-title {
      font-size: 16px;
    }

    .mat-card-content {
      background-color: mat-color($accent, 50);
      border-radius: 0px 0px 5px 5px;
      padding-left: 20px;
      font: 400 14px/16px Roboto, sans-serif;
      letter-spacing: normal;
      margin: 5 0 0 0px;
    }

    a {
      color: mat-color($accent, '50-contrast');
      text-decoration: none;
    }

    a:hover {
      color: mat-color($accent, 900);
      text-decoration: none;
    }

    .mat-card .mat-divider-horizontal {
      position: unset;
      width: 85%;
    }

    .mat-divider {
      display: block;
      margin: 10px;
      border-top-width: 3px;
      border-top-style: solid;
    }
    .mat-divider {
      border-top-color: mat-color($accent, 100);
    }
  }
}
