<h1>Sign In with email address</h1>
<div id="recaptcha-container"></div>
<br>

<ng-container *ngIf="verificationPhoneObservable | async then ngifVerifyPhone; else ngifVerifyEmail"></ng-container>
<ng-template #ngifVerifyEmail>
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="emailLogin" class="input" placeholder="email address">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="sendLoginPhone()">Verify eMail</button>
</ng-template>

<ng-template #ngifVerifyPhone>
  <div *ngIf="verificationPhoneObservable | async; let phnbr">
    <button mat-raised-button color="accent" (click)="sendLoginCode()">
      Click to send SMS Login Code to {{phnbr.phoneAuth}}
    </button>
  </div>
</ng-template>


<div *ngIf="windowRef.confirmationResult">
  <mat-form-field>
    <input matInput placeholder="Enter your Verification Code Here" type="text" name="code" [(ngModel)]="verificationCode">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="verifyLoginCode()">Verify</button>
</div>

<div *ngIf="user">
  You have successfully logged in with your phone number!

  UserId: {{ user?.uid }}

</div>