// define a real custom palette (using http://mcg.mbitson.com)
$nav-brand:(
  50 : #e7ede3,
  100 : #c2d1b8,
  200 : #9ab289,
  300 : #729359,
  400 : #537c36,
  500 : #356512,
  600 : #305d10,
  700 : #28530d,
  800 : #22490a,
  900 : #163705,
  A100 : #94ff6f,
  A200 : #6eff3c,
  A400 : #48ff09,
  A700 : #3cef00,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);



$nav-accent:(
  50 : #f9f6e7,
    100 : #f1e9c4,
    200 : #e7da9d,
    300 : #ddcb76,
    400 : #d6c058,
    500 : #cfb53b,
    600 : #caae35,
    700 : #c3a52d,
    800 : #bd9d26,
    900 : #b28d19,
    A100 : #fff9e6,
    A200 : #ffebb3,
    A400 : #ffde80,
    A700 : #ffd867,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


