/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */

 @import url('https://fonts.googleapis.com/css?family=Roboto');
 
body {
    line-height: 1em;
	font-size: 13px;
	font-family: 'Roboto', monospace;
 
    background-image: url('./app/img/grass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display:block;
}

/*******************
Page layout <div> box formatting
*******************/
.container{
	/*
	<div> formatting
	*/
	background: #FFFFFF;
	border-radius: 10px;
	margin-top: 5px;
	padding-top: 5px;
	margin-right: auto;
  	margin-left: auto;
  	max-width: 950px; /* or 950px */
}

