/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    line-height: 1em;
    font-size: 13px;
    font-family: Tahoma;
    color: #383B35;
 
    background-image: url('./app/img/grass.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    display:block;
}

.logo_img{
	position: relative;
	height: 76px;
	border-radius: 10px;
}

.logo_h1{
	font-family: 'Copperplate Gothic', 'Copperplate Gothic Light';
	color: #DCC43E;
	margin-right: 0px;
  	margin-left: 0px;
	margin-top: 12px;
	margin-bottom: 0px;
}

.logo_h2{
	font-family: sans-serif;
	color: #DCC43E;
	margin-right: 0px;
  	margin-left: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

/*******************
Page layout <div> box formatting
*******************/
.container{
	/*
	<div> formatting
	*/
	background: #FFFFFF;
	border-radius: 10px;
	margin-top: 5px;
	padding-top: 5px;
	margin-right: auto;
  	margin-left: auto;
  	max-width: 950px; /* or 950px */
}

.banner{
   /*
	<div> formatting
	*/
	background: #336600;   
    border-radius: 10px;

   /*
  	Position <div> on page
  	*/
	position: relative;  
	margin-right: auto;
  	margin-left: auto;
    height: 80px;

	vertical-align: text-middle;
	text-align: center;	
}



.color-primary-0 { color: #336600 }	/* Main Primary color */
.color-primary-1 { color: #6CA82F }
.color-primary-2 { color: #4E8714 }
.color-primary-3 { color: #224400 }
.color-primary-4 { color: #122400 }
