<div fxLayout="row" fxLayout.xs="column">
	<div fxFlex="1 1 66%">
		<img class='splash_img' src='./app/img/NCCCrest.png'>
		<p></p>
		<p class='left_panel_heading'> Welcome to Navestock Cricket Club</p>
		<br>
		<br>
		<img class='splash_img' src='./app/img/Navestock Shields_Low.jpg'>
		<p class="left_panel_heading">T.Rippon Mid-Essex Cricket League </p>
		<p class="left_panel_heading2">Division 4 Champions 2018 (1st XI)</p>	
		<p class="left_panel_heading2">Division 9 Champions 2018 (2nd XI)</p>
		<p class="left_panel_heading2">Division 5 Champions 2017 (1st XI)</p>
		<p class="left_panel_heading2">Division 4 Champions 2002</p>
		<br>
		<br>    
		<p class='left_panel_text'>A typical village cricket club in the heart of the Essex countryside. Situated in the lovely village of Navestock, with Alec's Restaurant opposite.</p> 
		<p class='left_panel_text'>The club has two thriving Saturday league team and a Sunday friendlies team.</p>
		<p class='left_panel_text'>We welcome players of all ages and abilities and would be glad to see fresh faces. 
		All players and their families are most welcome and we look forward to seeing many of you at the matches.</p>
		<br>  
	</div>
	<div class="endOfPage"></div>
	<div fxFlex="1 1 33%">
		<a [routerLink]="['/playerswanted']">
			<img class='players_wanted_img' src='./app/img/PlayersWantedRedv1.png'>
		</a>
		<p class="right_panel_heading2">Navestock Sponsors:</p>
		<a href="https://www.blackbullfyfield.co.uk/" target="_blank">
			<img class="BlackBull_img" src='./app/img/BlackBullFyfieldLogo.JPG'>
		</a>
		<div>
			<matchwidget>Loading fixtures ...</matchwidget>
		</div>
		<div>
			<a class="twitter-timeline" data-height="500" data-theme="light" href="https://twitter.com/NavestockCC?ref_src=twsrc%5Etfw">Tweets by NavestockCC</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			
		</div>
	</div>
</div>