    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
					<img class='splash_img' src='./app/img/NCCCrest.png'>
          <p></p>
					<p class='left_panel_heading'>Navestock Cricket Club</p>
					<p class='left_panel_heading'>250th Anniversary</p>
					<p class="left_panel_heading2">Join us for our festival of cricket</p>
					<p class="left_panel_heading2">Monday 18th to Sunday 24th June 2018</p>
					<table class='event_table'>
						<tr>
							<td class="event_col">
								<div><b>Monday 18th June</b></div>
								<div>Anniversary Cricket Dinner with Graham Gooch</div>
								<div>(Old Brentwood Club, 8pm)</div>
							</td>
							<td class="event_col">
								<div><b>Friday 22nd June</b></div>
								<div>Club Quiz Night</div>
								<div>(Navestock Cricket Club, 8pm start)</div>
							</td>
						</tr>
						<tr>
							<td class="event_col">
								<div><b>Tuesday 19th June</b></div>
								<div>Veterans 7-a-side Tournament</div>
								<div>(Navestock Cricket Club, 1pm start)</div>
							</td>
							<td class="event_col">
								<div><b>Saturday 23rd June</b></div>
								<div>T. Rippon League Fixture</div>
								<div>(NCC 2XI at home, 1pm start)</div>
							</td>
						</tr>
						<tr>
							<td class="event_col">
								<div><b>Wednesday 20th June</b></div>
								<div>The Colin Bridge Villagers Cup</div>
								<div>(Navestock Cricket Club, 5pm start)</div>
							</td>
							<td class="event_col">
								<div><b>Sunday 24th June</b></div>
								<div>Navestock Presidents Day</div>
								<div>Navestock XI vs Navestock Presidents XI</div>
								<div>(Navestock Cricket Club, 12pm start)</div>
							</td>
						</tr>
						<tr>
							<td class="event_col">
								<div><b>Thursday 21th June</b></div>
								<div>Navestock XI vs Essex Seniors</div>
								<div>(Navestock Cricket Club, 1pm start)</div>
							</td>
							<td class="event_col">
							</td>
						</tr>						
					</table>
			</div>
			<div class="endOfPage"></div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <a [routerLink]="['/playerswanted']"><img class='players_wanted_img' src='./app/img/PlayersWantedRedv1.png'></a>
					<div><matchwidget>Loading fixtures ...</matchwidget></div>
					<div>
						<a class="twitter-timeline" href="https://twitter.com/NavestockCC" data-widget-id="714857343494856704">Tweets by @NavestockCC</a>
					</div>
      </div>
    </div>