    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-12">
					<img class='splash_img' src='./app/img/Splashv2.jpg'>
          <p></p>
					<p class='left_panel_heading'>Welcome to Navestock Cricket Club</p>
					<p class='left_panel_text'>A typical village cricket club in the heart of the Essex countryside. Situated in the lovely village of Navestock, with Alec's Restaurant opposite.</p> 
					<p class='left_panel_text'>The club has two thriving Saturday league team and a Sunday friendlies team.</p>
					<p class='left_panel_text'>We welcome players of all ages and abilities and would be glad to see fresh faces. 
					All players and their families are most welcome and we look forward to seeing many of you at the matches.</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <a [routerLink]="['/playerswanted']"><img class='players_wanted_img' src='./app/img/PlayersWantedRedv1.png'></a>
					<div><fixturewidget>Loading fixtures ...</fixturewidget></div>
					<div>
						<a class="twitter-timeline" href="https://twitter.com/NavestockCC" data-widget-id="714857343494856704">Tweets by @NavestockCC</a>
					</div>
      </div>
    </div>